// Global variables, must be included in each project.
// Use: @import '~assets/_variables.scss';

//----------------
// Containers
//----------------

.container {
    max-width: $container-lg;
    margin: 0 auto;
    padding: 0 $spacing;
}