@import 
    'reset',
    'variables',
    'site';

body {
    background-color: $dark-bg;
    overflow-x: hidden;
}

.container {
    margin: 0 auto;
    padding: 0 $spacing;
}

.large-width {
    max-width: $screen-lg;
}

.medium-width {
    max-width: $screen-md;
}

.small-width {
    max-width: $screen-sm;
}


//----------------
// Page Transitions
//----------------


// Fade Homepage
.fade-enter-active {
    animation: fade-in .8s $ease;
}
.fade-leave-active {
    animation: fade-in .5s $ease;
}

@keyframes fade-in {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


/* * * *
* LIST TRANSITION
* * * */

.list-enter-active {
    animation: list-in 1.4s $ease;
}
.list-leave-active {
    animation: list-out 1.2s $ease;
}

@keyframes list-in {
    0% {

        opacity: 0; 
    }
    40% {

        opacity: 1;
    }
    100% {

    }
}
@keyframes list-out {
    0% {

    }
    60% {
        opacity: 1;
    }
    100% { 
        opacity: 0;
    }
}


/* * * *
* SITE TRANSITION
* * * */

.site-enter-active {
    animation: site-in 1.4s $ease;
}
.site-leave-active {
    animation: site-out 1.2s $ease;
}

@keyframes site-in {
    0% {
        transform: translateY($spacing*4);
        opacity: 0; 
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes site-out {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% { 
        transform: translateY(-$spacing*4);
        opacity: 0;
    }
}


/* * * *
* SLIDE TRANSITION
* * * */
.slide-enter-active {
    animation: slide-in 1.4s $ease;
}
.slide-leave-active {
    animation: slide-out 1.2s $ease;
}
// Slide Next
.slide-next {
    .slide-enter-active {
        animation: slide-out 1.4s $ease alternate-reverse;
    }
    .slide-leave-active {
        animation: slide-in 1.2s $ease alternate-reverse;
    }
}

@keyframes slide-in {
    0% { 
        transform: translate3d(75vw,0,0) scale(.75);
        opacity: 0; 
    }
    40% { 
        transform: scale(.75);
        opacity: 1;
    }
    100% { 
        transform: translate3d(0,0,0) scale(1)
    }
}
@keyframes slide-out {
    0% { 
        transform: translate3d(0,0,0) scale(1) 
    }
    60% { 
        transform: scale(.75);
        opacity: 1;
    }
    100% { 
        transform: translate3d(-75vw,0,0) scale(.75);
        opacity: 0;
    }
}