@import 
    'reset',
    'variables';

body {
    background-color: #F0F0F0;
    overflow-x: hidden;
}


//----------------
// Demo Page
//----------------

section.page {
    margin: 0 15px 15px 15px;
    box-shadow: 0 -4px 30px rgba(0,0,0,.16);
    transform-origin: center 50px;
    transition: all 400ms 100ms $ease;
    z-index: 100;
    overflow: hidden;
}

.is-closed section.page {
    margin: 0;
    box-shadow: none;
    transition: all 600ms 00ms $ease;
}

.page h1 {
    text-align: center;
    padding: 30px 0;
}


//----------------
// Page Transitions
//----------------


// Fade Homepage
.fade-enter-active {
    animation: fade-in .8s $ease;
}
.fade-leave-active {
    animation: fade-in .5s $ease;
}

@keyframes fade-in {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

// Slide Previous
.slide-enter-active {
    animation: slide-in 1.4s $ease;
}
.slide-leave-active {
    animation: slide-out 1.2s $ease;
}
// Slide Next
.slide-next {
    .slide-enter-active {
        animation: slide-out 1.4s $ease alternate-reverse;
    }
    .slide-leave-active {
        animation: slide-in 1.2s $ease alternate-reverse;
    }
}

@keyframes slide-in {
    0% { 
        transform: translate3d(-75vw,0,0) scale(.75);
        opacity: 0; 
    }
    40% { 
        transform: scale(.75);
        opacity: 1;
    }
    100% { 
        transform: translate3d(0,0,0) scale(1)
    }
}
@keyframes slide-out {
    0% { 
        transform: translate3d(0,0,0) scale(1) 
    }
    60% { 
        transform: scale(.75);
        opacity: 1;
    }
    100% { 
        transform: translate3d(75vw,0,0) scale(.75);
        opacity: 0;
    }
}