body {
    background-color: #F0F0F0;
    overflow-x: hidden;
}

section.container {
    margin: 0 15px 15px 15px;
    box-shadow: 0 -4px 30px rgba(0,0,0,.16);
    z-index: 100;
}

.container h1 {
    text-align: center;
    padding: 30px 0;
}   

.page-enter-active, .page-leave-active {
    transition: opacity 1.5s
}

.page-enter, .page-leave-active {
    opacity: 0;
    transform: scale(0);
}

.slide-enter-active {
    animation: slide-in .8s;
}
.slide-leave-active {
    animation: slide-out .5s;
}
@keyframes slide-in {
    0% { 
        transform: translate3d(-100vh,0,0) scale(.75) 
    }
    50% { 
        transform: scale(.75) 
    }
    100% { 
        transform: translate3d(0,0,0) scale(1)
    }
}
@keyframes slide-out {
    0% { 
        transform: translate3d(0,0,0) scale(1) 
    }
    50% { 
        transform: scale(.75) 
    }
    100% { 
        transform: translate3d(100vh,0,0) 
    }
}