body {
    background-color: #F0F0F0;
}

section.container {
    margin: 0 15px 15px 15px;
    box-shadow: 0 -4px 30px rgba(0,0,0,.16);
    z-index: 100;
}

.container h1 {
    text-align: center;
    padding: 30px 0;
}   