body {
    background-color: #F0F0F0;
}

section.container {
    box-shadow: 0 -8px 30px rgba(0,0,0,.16);
    z-index: 100;
}

.container h1 {
    text-align: center;
    padding: 30px 0;
}   

.page-enter-active, .page-leave-active {
    transition: all 0.5s;
}

.page-enter, .page-leave-to {
    opacity: 0;
}